<ion-view view-title="发现">
  <ion-content>
    <div id="discover-wrapper">
      <div class="row">
        <div class="classify-card col col-50">
          <img src="img/discover-front-end-bg.jpg" alt="" class="full-image">
          <h3>前端</h3>
        </div>
        <div class="classify-card col col-50">
          <img src="img/discover-back-end-bg.jpg" alt="" class="full-image">
          <h3>后端</h3>
        </div>
      </div>
      <div class="row">
        <div class="classify-card col col-50">
          <img src="img/discover-design-bg.jpg" alt="" class="full-image">
          <h3>移动</h3>
        </div>
        <div class="classify-card col col-50">
          <img src="img/discover-mobile-bg.jpg" alt="" class="full-image">
          <h3>设计</h3>
        </div>
      </div>
      <div class="row">
        <div class="classify-card col col-50">
          <img src="img/discover-product-bg.jpg" alt="" class="full-image">
          <h3>产品</h3>
        </div>
        <div class="classify-card col col-50">
          <img src="img/discover-startup-bg.jpg" alt="" class="full-image">
          <h3>创业</h3>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
