<ion-view view-title="识途">
  <ion-content class="padding">

  <div id="home">
    <div class="list">

      <div class="item item-avatar item-head">
        <img src="img/bruce.png">
        <h2 class="name">陈斌</h2>
        <p class="position">前端工程师</p>
        <span class="price">60元/小时</span>
      </div>

      <div class="item item-body">
        <p>
          2012年开始从事前端相关的工作，对前端技术HTML,CSS,Javascript能很好的运用。曾在武汉改图网担任前端工程师，现在广州乐豆科技负责前端的基本工作。
        </p>
      </div>

      <div class="item item-footer">
        <a class="rating" href="#">
          <i class="icon ion-ios-star active"></i>
          <i class="icon ion-ios-star active"></i>
          <i class="icon ion-ios-star active"></i>
          <i class="icon ion-ios-star active"></i>
          <i class="icon ion-ios-star"></i>
        </a>
        <a class="contact" href="#">
          <!-- <i class="icon ion-share"></i> -->
          联系他
        </a>
      </div>

    </div>

    <div class="list">

      <div class="item item-avatar item-head">
        <img src="img/zed.png">
        <h2 class="name">张志强</h2>
        <p class="position">Ruby工程师</p>
        <span class="price">70元/小时</span>
      </div>

      <div class="item item-body">
        <p>
          ruby开发工程师，javascript爱好者，喜欢研究新的编程技术，对Reactjs,meteorjs有一定的研究，现在广州乐豆科技。
        </p>
      </div>

      <div class="item item-footer">
        <a class="rating" href="#">
          <i class="icon ion-ios-star active"></i>
          <i class="icon ion-ios-star active"></i>
          <i class="icon ion-ios-star active"></i>
          <i class="icon ion-ios-star active"></i>
          <i class="icon ion-ios-star"></i>
        </a>
        <a class="contact" href="#">
          <!-- <i class="icon ion-share"></i> -->
          联系他
        </a>
      </div>

    </div>

    <div class="list">

       <div class="item item-avatar item-head">
         <img src="img/Kevin.png">
         <h2 class="name">杜小龙</h2>
         <p class="position">产品经理</p>
         <span class="price">100元/小时</span>
       </div>

       <div class="item item-body">
         <p>
           早期从事ruby开发，后转型研究产品，主要作品基于微信的通知助手，现广州乐豆科技任产品经理。
         </p>
       </div>

       <div class="item item-footer">
         <a class="rating" href="#">
           <i class="icon ion-ios-star active"></i>
           <i class="icon ion-ios-star active"></i>
           <i class="icon ion-ios-star active"></i>
           <i class="icon ion-ios-star active"></i>
           <i class="icon ion-ios-star"></i>
         </a>
         <a class="contact" href="#">
           <!-- <i class="icon ion-share"></i> -->
           联系他
         </a>
       </div>

    </div>

    <div class="list">

      <div class="item item-avatar item-head">
        <img src="img/Justin.png">
        <h2 class="name">陆晓勇</h2>
        <p class="position">Ruby工程师</p>
        <span class="price">120元/小时</span>
      </div>

      <div class="item item-body">
        <p>
          ruby开发工程师，javascript爱好者，喜欢研究新的编程技术，对Angularjs,Emberjs有一定的研究，现在广州乐豆科技技术。
        </p>
      </div>

      <div class="item item-footer">
        <a class="rating" href="#">
          <i class="icon ion-ios-star active"></i>
          <i class="icon ion-ios-star active"></i>
          <i class="icon ion-ios-star active"></i>
          <i class="icon ion-ios-star active"></i>
          <i class="icon ion-ios-star"></i>
        </a>
        <a class="contact" href="#">
          <!-- <i class="icon ion-share"></i> -->
          联系他
        </a>
      </div>

    </div>

    <div class="list">

      <div class="item item-avatar item-head">
        <img src="img/rain.png">
        <h2 class="name">陈燏林</h2>
        <p class="position">技术架构师</p>
        <span class="price">200元/小时</span>
      </div>

      <div class="item item-body">
        <p>
          十年开发经验，主要精通ruby，PHP，javascript等语言，喜欢研究新的编程技术，现在广州乐豆科技任职技术总监。
        </p>
      </div>

      <div class="item item-footer">
        <a class="rating" href="#">
          <i class="icon ion-ios-star active"></i>
          <i class="icon ion-ios-star active"></i>
          <i class="icon ion-ios-star active"></i>
          <i class="icon ion-ios-star active"></i>
          <i class="icon ion-ios-star"></i>
        </a>
        <a class="contact" href="#">
          <!-- <i class="icon ion-share"></i> -->
          联系他
        </a>
      </div>

    </div>
  </div>

  </ion-content>
</ion-view>
