<ion-view view-title="识途" left-buttons="leftButtons" right-buttons="rightButtons">
  <ion-slide-box on-slide-changed="slideChanged(index)" >
    <ion-slide>
      <img src="img/intro_slide_bg1.png" alt="" class="intro-bg">
      <div class="login-button-group">
        <a ng-href="#" class="login-button">登录</a>
        <a ng-href="#" class="sigin-button">注册</a>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="img/intro_slide_bg2.png" alt="" class="intro-bg">
      <div class="login-button-group">
        <a ng-href="#" class="login-button">登录</a>
        <a ng-href="#" class="sigin-button">注册</a>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="img/intro_slide_bg3.png" alt="" class="intro-bg">
      <div class="login-button-group">
        <a ng-href="#/tab/home" class="skip-button"><i class="icon ion-paper-airplane"></i>随便看看</a>
        <a ng-href="#" class="login-button">登录</a>
        <a ng-href="#" class="sigin-button">注册</a>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>
