<ion-view title="我">
  <ion-content>
    <div id="profile">

    <div class="list base-info">
      <a class="item item-thumbnail-left item-icon-right" href="#">
        <img src="http://beansmile.com/system/images/W1siZiIsIjIwMTUvMDUvMTUvem5wOW05ZTU2X2JydWNlLnBuZyJdXQ/bruce.png?sha=6460e54360abf247" class="avatar">
        <h2>陈斌</h2>
        <p>November 10, 1993</p>
      </a>
    </div>

    <div class="list">
      <a  class="item item-icon-right item-icon-left">
        <i class="icon ion-card"></i>
        <i class="icon ion-chevron-right"></i>
        钱包
      </a>
      <a  class="item item-icon-right item-icon-left">
        <i class="icon ion-folder"></i>
        <i class="icon ion-chevron-right"></i>
        提现记录
      </a>
      <a  class="item item-icon-right item-icon-left">
        <i class="icon ion-person-stalker"></i>
        <i class="icon ion-chevron-right"></i>
        成为行家
      </a>
    </div>

    <div class="list">
      <a  class="item item-icon-right item-icon-left">
        <i class="icon ion-gear-b"></i>
        <i class="icon ion-chevron-right"></i>
        设置
      </a>
    </div>

    </div>
  </ion-content>
</ion-view>
