<ion-view view-title="预约">
  <ion-content>
    <div id="appointments-times">
      <div class="list appointments-list">
        <div class="appointments-time">
          <h6>今天</h6>
        </div>
        <a class="item item-avatar" href="#">
          <img src="http://beansmile.com/system/images/W1siZiIsIjIwMTUvMDUvMTUvem5wOW05ZTU2X2JydWNlLnBuZyJdXQ/bruce.png?sha=6460e54360abf247">
          <h2>陈斌</h2>
          <p>前端工程师</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="http://beansmile.com/system/images/W1siZiIsIjIwMTUvMDUvMTUvNHF4NXM1eDgzcl96ZWQucG5nIl1d/zed.png?sha=82f9a9800268f1b4">
          <h2>张志强</h2>
          <p>ruby工程师</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="http://beansmile.com/system/images/W1siZiIsIjIwMTUvMDUvMTUvOHY0bzUzdGwzN19LZXZpbi5wbmciXV0/Kevin.png?sha=81c3fb5e64140008">
          <h2>杜小龙</h2>
          <p>产品经理</p>
        </a>

      </div>

      <div class="list appointments-list">
        <div class="appointments-time">
          <h6>昨天</h6>
        </div>
        <a class="item item-avatar" href="#">
          <img src="http://beansmile.com/system/images/W1siZiIsIjIwMTUvMDUvMTUvem5wOW05ZTU2X2JydWNlLnBuZyJdXQ/bruce.png?sha=6460e54360abf247">
          <h2>陈斌</h2>
          <p>前端工程师</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="http://beansmile.com/system/images/W1siZiIsIjIwMTUvMDUvMTUvNHF4NXM1eDgzcl96ZWQucG5nIl1d/zed.png?sha=82f9a9800268f1b4">
          <h2>张志强</h2>
          <p>ruby工程师</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="http://beansmile.com/system/images/W1siZiIsIjIwMTUvMDUvMTUvOHY0bzUzdGwzN19LZXZpbi5wbmciXV0/Kevin.png?sha=81c3fb5e64140008">
          <h2>杜小龙</h2>
          <p>产品经理</p>
        </a>

      </div>
    </div>

  </ion-content>
</ion-view>
