#appointments-times{
  .appointments-list{
    margin-bottom: 0;
    padding-top: 0;
    .appointments-time{
      h6{
        margin: 0;
        padding: 10px 0 10px 20px;
        background-color: #f5f5f5;
      }
    }
  }
}
